/* @font-face{
  font-family: MinhaFonte;
  src: url('fonts/Por\ Siempre\ Gótica.ttf') format('truetype');
} USAREI DEPOIS, Pois tenho que ver com a turma sobre a fonte do site se será normal ou uma personalizada*/ 
:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;

}


body {
    margin: 0;
    padding: 0;
    /* background-image: url(/img/background1.png); */
    background-color: #BEB8FF;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /* Tamanho base da fonte */
    font-weight: 600; /* Peso da fonte, 600 é considerado bold (negrito) */
}

  header {
    background-color: #3B2F4A;
    color: #E9E7C6;
    text-align: center;
    padding: 19px 0;
    position: relative;
    height: 77px; /* Altura aumentada para ilustração */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    display: inline-block;
    max-width: 150%; /* Para garantir que o logotipo não estique */
    max-height: 150%; /* Para garantir que o logotipo não estique */
  }
  .container {
    width: 300px;
    margin: 100px auto;
    background-image: url('img/bg_login.png');
    background-color: #fff;
    background-position: center; /* Centraliza a imagem de fundo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container h2 {
    text-align: center; /* Centraliza o título */
    
}
.container input[type="text"],
.container input[type="password"],
.container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.container .btn-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container .btn {
    flex-basis: 48%; /* Define a largura de cada botão */
    padding: 8px; /* Ajusta o tamanho do botão */
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.container .btn:hover {
    background-color: #0056b3;
}
  .navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
  }
  .navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .section {
    padding: 20px;
    margin-top: 50px; /* Espaço para a barra de navegação */
  }
  /* Estilos CSS para o ícone do Instagram */
  .instagram-icon {
    width: 55px;
    height: 45px;
    margin: 0 10px;
    display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  }
/* Formulário Login */
form {
  width: 300px;
  margin: 0 auto;
}
input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}
/* CADASTRO */
.container {
  width: 300px;
  margin: 100px auto;
  background-image: url(/img/bg_login.png);
  background-repeat: no-repeat;
  background-color: #fff;
  padding: 20px;
  border-radius: 25px; /* Arredondando os cantos */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 25px; /* Arredondando os cantos */
  border: 1px solid #ccc;
}

.container .btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px; /* Arredondando os cantos */
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container .btn:hover {
  background-color: #0056b3;
}
.section{
  text-align: center;
}

header2 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header2 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #ffffff
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5vw;
  padding: 0 5vw;
}

.gallery-items {
  width: 230px;
  height: 320px;
}

.gallery-items img {
  width: 100%;
  height: 85%;
  object-fit: cover;


}

.gallery-items:hover {
  transform: scale(1.2);

}

footer {
  width: 100%;
  color: var(--color-neutral-40);
  text-align: center;
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.45rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: var(--color-neutral-30);
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}


/* 
.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  margin: 10px;
  text-align: center;
}

.image-container img {
  width: 310px;
  height: 310px;
} */





/* 
#fotos-turma {
  text-align: center;
}

#fotos-turma h2 {
  margin-bottom: 20px;
}
.turma-fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.turma-foto {
  width: 200px;
  margin: 10px;
  position: relative; 
}

.turma-foto img {
  width: 100%;
  height: auto;
  border: 8px solid #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#addFotosBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#addFotosBtn:hover {
  background-color: #0056b3;
}


#inputFileTurma {
  display: none;
}

.remover-foto-btn {
  position: absolute; 
  bottom: -20px; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #ff0000; 
  color: #fff; 
  border: none;
  padding: 5px 10px; 
  border-radius: 5px; 
  cursor: pointer; 
  z-index: 1; 
}

.remover-foto-btn:hover {
  background-color: #cc0000; 
} */
